:root {
    --onBackground: #1C083F;
    --onSurface:#080036;
    --onFont: #ffffff;
    --primaryColor: #9914e5;
    --secondaryColor: #00ffff;
    --heading: 'Aclonica', sans-serif;
    --body: 'Roboto Slab', serif;
    --subHeading: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 10px == 1rem  */
    font-size: 62.5%; 
    
}

body {
    background: var(--onBackground);
    color: var(--onFont);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--onSurface); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: var(--primaryColor); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#331842 
  }
/* Custom scroll bar  end*/

.container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

/* Primary button */
.button {
    font-family: var(--subHeading);
    font-size: 3rem;
    max-width: 16rem;
    color: var(--onFont);
    background-color: var(--primaryColor);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
}
/* Primary button end */


/* Navigation  */
.nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: 8rem;
    background-color: var(--onSurface);
    box-shadow: 0 0.3rem 1.1rem #ffffff87;
    position: fixed;
    width: 100%;
    top: 0;

}

.nav-container .logo a {
    font-family: var(--heading);
    color: var(--onFont);
    font-size: 4.4rem;
}

.nav-container .nav-list {
    display: flex;
    gap: 5rem;
}

.nav-container .nav-list .nav-items {
 font-family: var(--heading);
 font-size: 2.1rem;
 cursor: pointer;
 transition: 0.2s ease-in; 
}
.nav-items:hover {
    color: var(--secondaryColor);
}
/* Navigation - End */

/* Intro section  */
.intro-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 8rem;
}

.left-section {
    /* min-width: 48.9vw */
    /* min-width: 60rem; */
    font-family: var(--heading);
}

.left-section .heading-small {
    font-size: 3.8rem;
    padding-bottom: 1rem;
}

.opacity {
    opacity: 0.5;
}

.left-section .heading-large {
    font-size: 7.5rem;
}
.left-section .heading-large span {
   color: var(--secondaryColor);
}

.right-section img {
    width: 40rem;
}
/* Intro section - End */

/* About -section */
.about-section {
   height: 100vh;
} 

.about-heading {
    font-family: var(--heading);
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.about-info {
    display: flex;
    justify-content: center;
    gap: 6rem;
}
.profile_image {
    padding: 0.8rem;
}

.rectangle-frame {
    height: 39.7rem;
    width: 30rem;
    border: 0.5rem solid transparent;
    border-image: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    
}

.rectangle-frame img {
    width: 29rem;
}

.profile_bio {
    padding: 2rem;
}
.profile_bio p {
    font-family: var(--body);
    font-size: 2.1rem;
    text-align: center;
}


/* About -section End */

/* Skill section  */
.skill-section {
    height: 100vh;
}

.skill-heading {
    font-family: var(--heading);
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.cards-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.skill-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.skill-card-body {
    padding: 3rem 5rem;
    border: 2px solid white;
    border-radius: 1rem;
}

.skill-card-body img {
    width: 10rem;
}

.skill-card-body .card-heading {
    text-align: center;
    font-family: var(--subHeading);
    font-size: 1.9rem;
    padding: 1rem 0;
}
/* Skill section End */

/* Project section  */
.project-section {
    height: 100vh;
}

.project-heading {
    font-family: var(--heading);
    font-size: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.project-card {
    display: flex;
    justify-content: center;
}

.project-card-body {
    padding: 1rem 2rem;
    border: 0.3rem solid transparent;
    border-radius: 1rem;
}

.project-card-body img {
    width: 35rem;
    border-radius: 0.7rem;
}

.project-card-body .project-card-title {
    text-align: center;
    font-family: var(--subHeading);
    font-size: 3.5rem;
    margin: 1rem 0px;
}
/* Project section End */

/* Service Section  */
.service-section {
    height: 100vh;
}

.service-heading {
    font-family: var(--heading);
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.service-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
}

.service-card {
    display: flex;
    justify-content: center;
}

.service-card-body {
    padding: 1rem 2rem;
    border: 0.3rem solid wheat;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-card-body img {
    width: 12rem;
}

.service-card-body .service-card-title {
    text-align: center;
    font-family: var(--subHeading);
    font-size: 3rem;
    margin: 1rem 0px;
}
/* Service Section End */

/* Contact Section  */
.contact-section {
    height: 100vh;
}

.contact-heading {
    font-family: var(--heading);
    font-size: 4rem;
    margin-bottom: 3rem;
    text-align: center;
}

.contact-container {
    margin-top: 6rem;
    text-align: center;
}

.contact-form {
    max-width: 50rem;
    margin: auto;
}

.contact-inputs {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-inputs input {
    padding: 1rem;
    border-radius: 0.7rem;
    font-family: var(--body);
    outline: none;

}
.contact-inputs textarea {
    padding: 1rem;
    border-radius: 0.7rem;
    font-family: var(--body);
    outline: none;
}

#submitBtn {
    max-width: 16rem;
    text-align: center;
    background-color: var(--primaryColor);
    font-family: var(--subHeading);
    color:var(--onFont);
    font-size: 2rem;
    border: none;
}

/* Contact Section End */

/* Footer Section */
footer {

    background-color: var(--onSurface);
}
.links-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
 
}
.links-icons img {
    width: 6rem;
}
.footer-content {
    display: flex;
    justify-content: center;
}

.footer-content p {
    font-size: 2.5rem;
    margin: 2rem 0;
    font-family: var(--subHeading);

}
/* Footer Section */