:root {
    --onBackground: #1C083F;
    --onSurface:#080036;
    --onFont: #ffffff;
    --primaryColor: #9914e5;
    --secondaryColor: #00ffff;
    --heading: 'Aclonica', sans-serif;
    --body: 'Roboto Slab', serif;
    --subHeading: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 10px == 1rem  */
    font-size: 62.5%; 
    
}

body {
    background: var(--onBackground);
    color: var(--onFont);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Custom scroll bar */
/* width */
::-webkit-scrollbar {
    width: 1rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:var(--onSurface); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primaryColor); 
    border: 0.5rem solid transparent;
    border-radius: 0.9rem;
    background-clip: border-box;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:#331842 
  }
/* Custom scroll bar  end*/

.container {
    max-width: 120rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

/* Primary button */
.button {
    font-family: var(--subHeading);
    font-size: 3rem;
    max-width: 16rem;
    color: var(--onFont);
    background-color: var(--primaryColor);
    border-radius: 1rem;
    padding: 0.5rem 2rem;
    text-align: center;
}
/* Primary button end */

